* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #010101;
  font-size: 12px;
}

.main-content {
  margin: 0 auto;
  width: 80vw;
  max-width: 400px;
  margin-top: 1em;
}